<%-include('header')%>
<div class="container">
<p>Steps Sign in user:
    <br>    Add Details in form
    <br>    Submit form
    <br>    List of added user 
    <br>    Delete user(user will be deleted from mogodb)
</p>

</div>
<%-include('footer')%>